.body{
font-size: 12px;
    overflow-x: hidden;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.yellow{
    color: orange!important;
    margin-right: 15px;
}

.btn{
    margin-bottom: 20px;
}

.blue{
    color: blue;
    margin-right: 15px;
}

.red{
    color: red;
    margin-right: 15px;
}

input {
    margin: 15px 0;
}